/.idea/
FINALPROJECT/games/Tic_Tac_Game/.DS_Store
FINALPROJECT/games/Tic_Tac_Game/__pycache__/
FINALPROJECT/__pycache__/
.DS_Store
FINALPROJECT/.DS_Store
FINALPROJECT/static/.DS_Store
venv/
__pycache__/