<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--    this bootstrap link automatically imports some styling features and also adds the resizing feature so that when you adjust the size of your brower, the web page adjusts accordingly and stays centered-->
    <link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename= '../static/boostrap/main.css')}}">

    {% if title %}
    <title>Productive Duck - {{ title }}</title>
    {% else %}
    <title>Productive Duck</title>
    {% endif %}
<!--    this jinja syntax allows us to use python logic in an html page, if you are directed to an html page with no assigned title it will automatically insert 'Productive Duck' as the title-->
</head>


<body>
     <div class="navbar">
        <div class="container">
            <a class="logo" href="/">Productivity<span>Duck </span></a>

            <nav>

                <ul class="primary-nav">
                    {% if current_user.is_authenticated %}
                        <li class="current"><a href="/">Home</a></li>
                        <li><a href="/start-timer">Set Break Timer</a></li>
                    {% else %}
                        <li class="current"><a href="/">Home</a></li>
                        <li><a href="/login">Set Break Timer</a></li>
                    {% endif %}
<!--                The logic above allows you to access the timing page if you are logged in, and if you are not logged in the same button will redirect you to the log in page, -->
<!--                    if log in is successful, you will then be redirected to the set timer page-->
                </ul>

                <ul class="secondary-nav">
                    {% if current_user.is_authenticated %}
                        <li class="current"><a href="/logout">Logout</a></li>
                    {% else %}
                        <li class="current"><a href="/login">Login</a></li>
                        <li class="register-now"><a href="/register">Register</a></li>
                    {% endif %}
<!--                    The logic above allows the user to view the logout button only if they are logged in-->
                </ul>
            </nav>
        </div>
    </div>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


{% block content %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="../static/boostrap/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../static/js/timer.js" crossorigin="anonymous"></script>
<script src="../static/js/guess_number.js" crossorigin="anonymous"></script>

</body>
</html>

<!--The purpose of this base html template is to provide a template for the other html pages to draw from to avoid
repeating code unnecessarily-->