{% extends 'base.html' %}

{% block content %}
    <body class="blackjack-body">
        <section class="blackjack rules">
        <ul class="rule-list">
            <li>The goal of blackjack is to beat the dealer's hand without going over 21.</li>
            <li>Face cards are worth 10. Aces are worth 1 or 11, whichever makes a better hand.</li>
            <li>Each player starts with two cards, one of the dealer's cards is hidden until the end.</li>
            <li>To 'Hit' is to ask for another card. To 'Stand' is to hold your total and end your turn.</li>
            <li>If you go over 21 you bust, and the dealer wins regardless of the dealer's hand.</li>
            <li>If you are dealt 21 from the start (Ace & 10), you got a blackjack, and you WIN!</li>
        </ul>
    </section>
    <section class="blackjack container-blackjack">
        <div class="grid-wrap">
            <div class="grid-box dealer-score">
                <div id="dealer-score-value"></div>
            </div>
            <div id="dealers-hand"></div>
            <div class="grid-box table-center">
                <img class="card-img" src="https://static.thenounproject.com/png/1705704-200.png" alt="deck of cards">
            </div>
            <div class="grid-box player-score">
                <div id="player-score-value"></div>
            </div>
            <div id="players-hand"></div>
        </div>
    </section>
    <section class="blackjack winner">
        <div class="display-winner" id="display-winner"></div>
    </section>
    <section class="blackjack btn-container">
        <button class="btn hit" id="hit" onclick="playerHit()" disabled=true>hit</button>
        <button class="btn stand" id="stand" onclick="playerStand()" disabled=true>stand</button>
    </section>
    <section class="blackjack btn-container">
        <button class="btn start" id="new-deck" onclick=startGame()>start game</button>
    </section>
        <div id="game-state" hidden></div>

    <script src="../static/js/blackjack_ajax.js"></script>
    </body>

{% endblock %}
