{% extends "base.html" %}
{% block content %}

        <section class="browse-games">
        <div class="container">

            <div class="game-browser-title">
                <h1 class="browser-title-text">Pick A Game</h1>
            </div>
            <ul>
                <li onclick="location.href='#';" , style="cursor:pointer;">
                    <img src="images/ttt.png" alt="Tic Tac Toc icon">
                    <a href=""></a>

                    <blockquote>Game Description</blockquote>
                    <cite>Tic Tac</cite>
                </li>
                <li onclick="location.href='#';" , style="cursor:pointer;">
                    <img src="images/cards.png" alt="Black Jack icon">

                    <blockquote>Game Description</blockquote>
                    <cite>Black Jack</cite>
                </li>
                <li onclick="location.href='#';" , style="cursor:pointer;">
                    <img src="images/quiz.png" alt="Trivia icon">

                    <blockquote>Game Description</blockquote>
                    <cite>Trivia</cite>
                </li>
                <li onclick="location.href='#';" , style="cursor:pointer;">
                    <img src="images/mushroom.png" alt="Mario Mushroom icon">
                    <a href=""></a>

                    <blockquote>Game Description</blockquote>
                    <cite>Coming Soon!</cite>
                </li>
                <li onclick="location.href='#';" , style="cursor:pointer;">
                    <img src="images/minecraft.png" alt="Minecraft icon">

                    <blockquote>Game Description</blockquote>
                    <cite>Coming Soon!</cite>
                </li>
                <li onclick="location.href='#';" , style="cursor:pointer;">
                    <img src="images/table.png" alt="game icon">

                    <blockquote>Game Description</blockquote>
                    <cite>Coming Soon!</cite>
                </li>
            </ul>



        </div>


    </section>

{% endblock content %}