{% extends "base.html" %}
{% block content %}

<title>Home</title>
    <section class="hero">
        <div class="container">
            <div class="left-col">
                <p class="subhead">It's Break Time!</p>
                <h1>Be Productive &amp Play A Game</h1>

                <div class="hero-cta">
                    {% if current_user.is_authenticated %}
                    <a href="/browsegames" class="primary-cta">Play Now</a>
                    {% else %}
                    <a href="/start-timer" class="primary-cta">Play Now</a>
                    {% endif %}
                </div>
            </div>
            <img src="{{url_for('static', filename='images/duck.png' )}}" class="hero-img" alt="Picture of a duck"/>

        </div>
    </section>

    <section class="feature-section">
        <div class="container">
            <ul class="features-list">
                <li>▪️Take Structured Breaks</li>
                <li>▪️Track Your Breaks</li>
                <li>▪️Great Games Selection</li>
                <li>▪️No More Wasted Time</li>
                <li>▪️Unlimited Fun!</li>
                <li>▪️Unlimited Fun!</li>
            </ul>
        </div>
    </section>


       <section class="learn-more" id="learn-more-id" >
        <div class="container">

            <div class="learn-more-title">
                <h1 class="learn-more-title-text">How To Get Started</h1>
            </div>
            <ul>
                {% if current_user.is_authenticated %}
                <li onclick="location.href='#';" , style="cursor:pointer;">
                {% else %}
                <li onclick="location.href='/register';" , style="cursor:pointer;">
                {% endif %}

                    <h3>Step 1</h3>
                    <blockquote>Create Account</blockquote>
                    <img src="{{url_for('static', filename='images/user.png' )}}" alt="Register Image">
                </li>
                <li onclick="location.href='/start-timer';" , style="cursor:pointer;">
                    <h3>Step 2</h3>
                    <blockquote>Set Timer</blockquote>
                    <img src="{{url_for('static', filename='images/alarm.png' )}}" alt="Timer Image">
                </li>
                <li onclick="location.href='/browsegames';" , style="cursor:pointer;">
                    <h3>Step 3</h3>
                    <blockquote>Browse Games</blockquote>
                    <img src="{{url_for('static', filename='images/jigsaw.png' )}}" alt="browser Games Image">
                </li>
                <li >
                    <h3>Step 4</h3>
                    <blockquote>Have Fun!</blockquote>
                    <img src="{{url_for('static', filename='images/fun.png' )}}" alt="Tic Tac Toe Image">
                </li>

            </ul>



        </div>

    </section>

{% endblock content %}

<!--<a href="#learn-more-id" class="primary-cta">Play Now</a>-->
<!--    <li>▪️Take Structured Breaks</li>-->
<!--                <li>▪️Track Breaks Overtime</li>-->
<!--                <li>▪️Great Games Selection</li>-->
<!--                <li>▪️No More Wasted Time</li>-->
<!--                <li>▪️Unlimited Fun!</li>-->
<!--                <li>▪️Unlimited Fun!</li>-->