<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<header>
    <div class="container">

<!--        <img src="ourpichere.png" alt="logo" class="logo">-->
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">home</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">login</a></li>
                <li><a href="{{ url_for('browsegames') }}">Browse Games</a></li>
            </ul>
        </nav>

    </div>

    <h1>Here is the home page</h1>
</header>
</body>
</html>