{% extends "base.html" %}
{% block content %}

<title>Home</title>
    <section class="hero">
        <div class="container">
            <div class="left-col">
                <p class="subhead">It's Break Time!</p>
                <h1>Be Productive &amp Play A Game</h1>

                <div class="hero-cta">
                    <a href="#" class="primary-cta">Browse Games</a>
                </div>
            </div>
            <img src="{{url_for('static', filename='images/duck.png' )}}" class="hero-img" alt="Picture of a duck"/>

        </div>

    </section>

    <section class="feature-section">
        <div class="container">
            <ul class="features-list">
                <li>Take Structured Breaks</li>
                <li>Track Breaks Overtime</li>
                <li>Great Selection of Games</li>
                <li>No More Wasted Time</li>
                <li>Unlimited Fun!</li>
                <li>Unlimited Fun!</li>
            </ul>
        </div>
    </section>

{% endblock content %}