{% extends "base.html" %}
{% block content %}

     <section class="board-section">
        <div class="board-title">
            <h1 class="title-text">Tic Tac Toe</h1>
        </div>


        <div class="game-board">
            <table id="tic-tac-table">

                <tbody>
                    <tr id="row-1">
                        <td id="c1" onclick="cell_clicked(1)"></td>
                        <td id="c2" onclick="cell_clicked(2)"></td>
                        <td id="c3" onclick="cell_clicked(3)"></td>
                    </tr>
                    <tr id="row-2">
                        <td id="c4" onclick="cell_clicked(4)"></td>
                        <td id="c5" onclick="cell_clicked(5)"></td>
                        <td id="c6" onclick="cell_clicked(6)"></td>
                    </tr>
                    <tr id="row-3">
                        <td id="c7" onclick="cell_clicked(7)"></td>
                        <td id="c8" onclick="cell_clicked(8)"></td>
                        <td id="c9" onclick="cell_clicked(9)"></td>
                    </tr>
                </tbody>
            </table>
        </div>

         <p class="feedback-message" id="end-msg" ></p>

<!--        <div class="col-lg-3">-->
<!--           <p class="feedback-message" id="end-msg" ></p>-->
<!--        </div>-->

    </section>

    <div id="game-state" hidden>{{game_id}}</div>
    <script src="../static/js/tic_tac_toe_ajax.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}
