@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #f1aa38;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
  place-content: space-between;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

.feature-section {
  background: #20272E;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../static/images/bullet.svg");
  background-size: contain;
  margin-right: .5em;
}

.navbar .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px auto;
      grid-template-columns: 180px auto;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  position: unset;
  height: auto;
  width: 100%;
  padding: 0;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar nav a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  padding: .1em 1em;
}

.navbar nav ul.primary-nav {
  margin: 0;
}

.navbar nav li.current a {
  font-weight: bold;
}

.navbar nav li.register-now a {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
  margin-top: -.2em;
}

.navbar nav li.register-now a:hover {
  background: var(--primary-color);
  color: white;
}



@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container h1 {
    font-size: 3em;
    width: 90%;
  }

  .hero-img {
  width: 30%;
  margin-right: 8em;
}

ul.features-list li {
  font-size: 1.4em;
}

ul.features-list li:before {
  width: 30px;
  height: 30px;
}


}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}