@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #f1aa38;
  /* --primary-color: #f5b41a; */
  /* --secondary-color: #320c29; */
  --secondary-color: #0c3457;

  --third-color: #2c3e50;
}

body {
  /*background: var(--secondary-color);*/
  /* background: #f2f2f2;  */
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

/* Navigation  */

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
  place-content: space-between;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
   /*background: var(--secondary-color);*/
  /*padding: 5em 2em;*/
}

/* Hero */
.hero {
    background: var(--secondary-color);
    padding: 5em 2em;
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(184, 184, 184);
  letter-spacing: 0.3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
  color: white;
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

/* Features */
.feature-section {
  background: #f2f2f2;
  /* background: #20272e; */
  /* color: white; */
  color: black;
}

ul.features-list {
  margin: 0;
  padding-left: 0.1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

ul.features-list li {
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul.features-list li:before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../static/images/tick.svg");
  background-size: contain;
  margin-right: 0.5em;
}

/* Learn More */
.learn-more {
  background: var(--secondary-color);
}

.learn-more li {
  background: var(--primary-color);
  text-align: center;
  padding: 2em 1em;
  width: 50%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.learn-more li img {
  width: 5em;
  height: 5em;
  margin-top: 1em;
}

.learn-more-title {
  margin-top: -8em;
}

.learn-more-title .learn-more-title-text {
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-weight: bold;
  font-size: 2.7em;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

/* Browse Games */

.browse-games {
  /* background: #20272e; */
  /* background: #320c29; */
  background: var(--secondary-color);
}

.browse-games li {
  background: #f4d58d;
  /*background: var(--primary-color);*/
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.browse-games li img {
  width: 5em;
  height: 5em;
  margin-top: -4.5em;
}

.browse-games li blockquote {
  font-weight: bold;
  font-size: 1.3em;
  color: var(--secondary-color);
}

.browse-games li cite {
  color: var(--secondary-color);
}

.board-section {
  background: #efd780;
}
.game-browser-title {
  margin-top: -8em;
}

.game-browser-title .browser-title-text {
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-weight: bold;
  font-size: 2.7em;
  font-weight: bold;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

/* Tic Tac Toe */

.game-board {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid var(--primary-color);
  border-radius: 10px;
  display: grid;
}

.box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-title {
  margin-top: -8em;
}

.board-title .title-text {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

table {
  border-spacing: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-collapse:separate;
  align: center;
  table-layout:fixed;
  width: 100%;
  table-layout:fixed;

  /*max-height: 50%
   overflow: hidden;*/
}
tr{

line-height: 0;
}

td {
  width: 33.33%
  padding: 100px;
  background: #2c3e50;
  border: 1px;
  justify-content: center;
  margin-bottom:5em;
  table-layout:fixed;
  /* position: relative; */
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  table-layout:fixed;

}

.feedback-message {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: bold;
  text-align: center;
  font-size: 2em;

}

/*TRIVIA*/

  .trivia{
    background: #EDF6FD;
    justify-content: center;


  }

  .trivia-board{
    width: 450px;
    height: 450px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid var(--secondary-color);
    border-radius: 10px;
    display: grid;
    padding: 5em;
    text-align: center;

  }


  }

  .question-label{
      font-weight: bold;
  }

  .trivia-title {
    margin-top: -8em;
  }

  .trivia-text {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

 .trivia-button{
     border-radius: 1em;
     display: inline-block;
     margin: 0.5em;
  }


/* Blackjack */
    .blackjack-body {
      font-family: "Muli", sans-serif;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100vh;
      background-color: #efd780;
      padding: 20px;
      box-sizing: border-box;
    }

    .rule-list {
      font-size: 0.7rem;
      text-align: center;
      list-style: none;
      background-color: #f2ecff;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 5px;
    }

    section.blackjack {
        padding: 10px 10px;
    }

    section.container-blackjack {
      width: 600px;
      height: 400px;
      background-color: #008866;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 3px black;
    }

    .table-center,
    .dealer-score,
    .player-score {
      font-size: 1.1rem;
      padding: 2px;
    }

    .display-winner {
      font-size: 2rem;
      margin-top: 15px;
      font-weight: bold;
    }

    .grid-box {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card-img {
      width: 60px;
      margin: 15px;
    }

    .btn {
      background-color: #f2ecff;
      border: none;
      width: 100px;
      height: 50px;
      margin-top: 50px;
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 10px;
      font-family: inherit;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 3px;
      border: 1px solid black;
    }

    .btn.hit {
      margin-top: 10px;
    }

    .btn.stand {
      margin-top: 10px;
    }

    .btn.hit.active {
      background-color: #ffc75f;
    }

    .btn.stand.active {
      background-color: #f9f871;
    }

    .btn.new-game {
      background-color: #007ee6;
      width: 200px;
    }

    .btn.start {
      width: 220px;
      height: 80px;
      font-size: 1.3rem;
      font-weight: normal;
      background-color: #f9f871;
      margin: 20px;
      transition: ease 1s;
    }

    .btn.new-deck.start {
      width: 200px;
      height: 50px;
      font-size: 0.9rem;
      background-color: #008bb6;
      margin: 30px;
    }

    .hidden {
      background-color: darkgrey;
      width: 55px;
      height: 70px;
      border-radius: 3px;
      font-size: 0px;
      border: 1px solid black;
    }


@media only screen and (min-width: 768px) {
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.register-now a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.register-now a:hover {
    background: var(--primary-color);
    color: white;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container h1 {
    font-size: 3em;
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .learn-more ul {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
  .learn-more ul li {
    margin: 0 1em;
    margin-bottom: 6em;
  }

  .browse-games ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(19rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
  .browse-games ul li {
    margin: 0 1em;
    margin-bottom: 6em;
  }
}
/*# sourceMappingURL=main.css.map */
